<!DOCTYPE html>
<html lang="en">
<body>
<div class="Personal Information">
    <h2>Personal Information</h2>
    <p><b>Name:</b>Amr Mohamed Ahmed Abu-Nemr</p>
    <p><b>Email:</b>amr_abunemr16@yahoo.com</p>
    <p><b>Mobile No:</b>+201061278515</p>
</div>
<hr>
<div class="Education">
    <h2>Education</h2>
    <p><b>Faculty/University:</b>Faculty of Engineering at MSA University</p>
    <p><b>Departmant:</b>Electrical Communication and Electronic Systems Engineering</p>
    <p><b>Grade:</b>Very Good</p>
    <p><b>Graduation Project:</b>The Magic Closet:Apply AI to Fashion</p>
    <p><b>Project Grade:</b>Excellent</p>
</div>
<hr>
<div Class="Skills">
    <h2>Skills</h2>
    <ul>
        <li><b>Programming Languages: Python/C/C++</b></li>
        <li><b>Artificial Intelligence</b></li>
        <li><b>Linux Admin 1</b></li>
        <li><b>CCNA and CCNA Security</b></li>
        <li><b>Bash script</b></li>
        <li><b>Tools: Google API,Anconda,Protues</b></li>
    </ul>
</div>
<hr>
<div class="Languages">
    <h2>Languages</h2>
    <ul>
        <li>Arabic(Mother Tongue)</li>
        <li>English</li>
    </ul>
</div>

</body>
</html>